<table width="600" border="1" cellspacing="0" cellpadding="3">
  <tbody>
    <tr>
      <td>&nbsp;</td>
      <td>Digital Holga Kitchen Sink Kit</td>
      <td>Digital Holga Ultimate Kit</td>
      <td>Digital Holga Close Up and Macro Kit</td>
      <td>Digital Holga Wide to Tele Kit</td>
    </tr>
    <tr>
      <td>Holga Base Lens for Digital Camera</td>
      <td><img src="{{ 'tick.jpg' | asset_url }}" /></td>
      <td><img src="tick.jpg" alt="" width="34" height="37" /></td>
      <td><img src="tick.jpg" alt="" width="34" height="37" /></td>
      <td><img src="tick.jpg" alt="" width="34" height="37" /></td>
    </tr>
    <tr>
      <td>Holga Telephoto Lens (HT-25)</td>
      <td><img src="tick.jpg" alt="" width="34" height="37" /></td>
      <td><img src="tick.jpg" alt="" width="34" height="37" /></td>
      <td>&nbsp;</td>
      <td><img src="tick.jpg" alt="" width="34" height="37" /></td>
    </tr>
    <tr>
      <td>Holga Wide Angle Lens (HW-05)</td>
      <td><img src="tick.jpg" alt="" width="34" height="37" /></td>
      <td><img src="tick.jpg" alt="" width="34" height="37" /></td>
      <td>&nbsp;</td>
      <td><img src="tick.jpg" alt="" width="34" height="37" /></td>
    </tr>
    <tr>
      <td>Holga Close-Up Lens Set (CLS-1) </td>
      <td><img src="tick.jpg" alt="" width="34" height="37" /></td>
      <td><img src="tick.jpg" alt="" width="34" height="37" /></td>
      <td><img src="tick.jpg" alt="" width="34" height="37" /></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Holga Macro Lens Set (MLS-1)</td>
      <td><img src="tick.jpg" alt="" width="34" height="37" /></td>
      <td><img src="tick.jpg" alt="" width="34" height="37" /></td>
      <td><img src="tick.jpg" alt="" width="34" height="37" /></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Holga Fisheye for Digital Cameras (FEL-HL)</td>
      <td><img src="tick.jpg" alt="" width="34" height="37" /></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Digital Camera Compatibility</td>
      <td>
        <p>Canon SLR</p>
        <p>Nikon SLR</p>
        <p>Olympus SLR</p>
        <p>Pentax SLR</p>
        <p>Sony SLR</p>
      </td>
      <td>
        <p>Canon SLR</p>
        <p>Nikon SLR</p>
        <p>Olympus SLR</p>
        <p>Pentax SLR</p>
        <p>Sony SLR</p>
        <p>Olympus PEN</p>
        <p>Panasonic Lumix G</p>
        <p>Samsung NX</p>
        <p>Sony NEX</p>
      </td>
      <td>
        <p>Canon SLR</p>
        <p>Nikon SLR</p>
        <p>Olympus SLR</p>
        <p>Pentax SLR</p>
        <p>Sony SLR</p>
        <p>Olympus PEN</p>
        <p>Panasonic Lumix G</p>
        <p>Samsung NX</p>
        <p>Sony NEX</p>
      </td>
      <td>
        <p>Canon SLR</p>
        <p>Nikon SLR</p>
        <p>Olympus SLR</p>
        <p>Pentax SLR</p>
        <p>Sony SLR</p>
        <p>Olympus PEN</p>
        <p>Panasonic Lumix G</p>
        <p>Samsung NX</p>
        <p>Sony NEX</p>
      </td>
    </tr>
    <tr>
      <td>Saving over individual purchases</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
</tbody>
</table>
