<br/>
<p>
   <h3>Holga 120N Image Samples from Flickr.</h3>
   Note: This slideshow depends on the images being correctly tagged with 'Holga 120CFN' in flickr.
</p>
<iframe align="center" src="http://www.flickr.com/slideShow/index.gne?tags=holga 120 CFN&" frameBorder="0" width="600" scrolling="no" height="600"></iframe>