<!-- Begin MailChimp Signup Form -->
<!-- link href="http://cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css" -->
<div class="mc_embed_signup">
<form action="http://holgadirect.us2.list-manage.com/subscribe/post?u=75db737c2d3d0796e90a771cd&amp;id=e651edd2ba" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
	<label for="mce-EMAIL">Sign up for our newsletter for news and exclusive offers! (No Spam Guarantee)</label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
	<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
</form>
</div>

<!--End mc_embed_signup-->