    <div class="myfooterlinks clearfix">
        <h2>Shopping On HolgaDirect</h2>
        <ul>
            <li><a href="http://shop.holgadirect.com/pages/why-buy-from-holgadirect" title="Reasons to buy from the HolgaDirect store">Why Buy From HolgaDirect?</a></li>
            <li><a href="http://www.holgadirect.com/which-holga-do-i-choose" title="Advice on choosing and buying a Holga Camera">Buying Guide</a></li>
            <li><a href="http://shop.holgadirect.com/search" title="Search the whole HolgaDirect shop site">Search</a></li> 
            <li><a href="http://shop.holgadirect.com/pages/terms-and-conditions" title="The detailed Terms and Conditions of the HolgaDirect Shop">Terms and Conditions</a></li>
            <li><a href="http://shop.holgadirect.com/pages/privacy-policy" title="We take your Privacy seriously at HolgaDirect">Privacy Policy</a></li>
            <li><a href="http://shop.holgadirect.com/pages/shipping-warranties-and-refunds" title="Details about Shipping, Warranties and Refunds for defective products">Delivery Information</a></li>
        </ul>
    </div>

    <div class="myfooterlinks_2">
        <h2>Customer Service</h2>
        <ul>
            <li><a href="http://shop.holgadirect.com/pages/contact-us">Contact Us</a></li>
            <li><a href="http://shop.holgadirect.com/pages/faq">FAQ</a></li>
            <li><a href="http://shop.holgadirect.com/pages/Order-Tracking" title="How to track your order shipment after purchase">Order Tracking</a></li>            
            <li><a href="http://shop.holgadirect.com/pages/destinations-shipped-to" title="Where have we shipped to?">Previously Shipped To</a></li>
            <li><a href="http://shop.holgadirect.com/pages/shipping-warranties-and-refunds" title="Details about Shipping, Warranties and Refunds for defective products">Refunds and Returns</a></li>
        </ul>
    </div>

    <div class="myfooterlinks_3">
        <h2>About Us</h2>
        <ul>
            <li><a href="http://www.holgadirect.com" title="Main HolgaDirect site for news and articles">HolgaDirect Blog Home</a></li>
            <li><a href="http://shop.holgadirect.com/pages/about-holgadirect-holga-camera-store" title="Some background on HolgaDirect">About HolgaDirect</a></li>
            <li><a href="http://shop.holgadirect.com/pages/sitemap" title="A Full HTML Sitemap for visitors">Sitemap</a></li>
            <li><a href="http://shop.holgadirect.com/pages/follow-us" title="See all the ways to stay in touch with HolgaDirect">Follow Us</a></li>
        </ul>
    </div>
